<div class="text-center">
  <h3>都道府県からレビューを探す</h3>
</div>

<div>
  <table class="table">
    <tbody>
      <% @grouped_by_region_prefectures.each do |region, prefectures| %>
        <tr>
          <th scope="row"><%= region[0] %></th>
          <% prefectures.each do |prefecture| %>
            <td><%= link_to prefecture.name, prefecture %></td>
          <% end %>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>