<div class="text-center">
  <h3>座席レビューを投稿する</h3>
  <P>感想を記録して共有しましょう</P>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= render 'form', review: @review %>
    
  </div>
</div>

<div>
  <P><%= link_to 'トップページへ戻る', root_path %></P>
</div>