<div class="text-center">
  <h3><%= t('.title') %></h3>
  <P><%= t('.sub_title') %></P>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= render 'form', review: @review %>
    
  </div>
</div>

<div>
  <P><%= link_to t('dictionary.words.back_toppage'), root_path %></P>
</div>